<div class="container">
    <form class="form-control" action="">
      <p class="title">add hotel</p>
      <div class="input-field">
        <input required="" class="input" type="text" placeholder="name" />
      </div>
      <div class="input-field">
        <input required="" class="input" type="text" placeholder="price" />
      </div>
      <div class="input-field">
        <input required="" class="input" type="text" placeholder="location" />
      </div>
      <button class="submit-btn">add</button>
    </form>
  </div>