.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container input {
  width: 50%;
  margin-top: calc(var(--section-padding) / 2);
  color: var(--main-color);
  background-color: var(--secondary-color);
  outline: none;
  border-radius: 8px;
  height: 45px;
  border: 1.5px solid var(--main-color);
  color: var(--main-color);
  font-size: large;
  padding-left: 10px;
}

.container input:focus {
  border: 1.5px solid #2d79f3;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-transform: capitalize;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 18px;
  transition: 0.5s;
}

th {
  background-color: var(--secondary-color);
  text-align: left;
  font-size: var(--title-font);
}

tr:nth-child(even) {
  background-color: var(--secondary-color);
}

tr:hover {
  background-color: var(--third-color);
}

td:hover {
  transform: translateX(10px);
}
