<div class="container">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filter()"
      placeholder="Search..."
    />
    <table>
      <thead>
        <tr>
          <th (click)="sort('empname')">employee name</th>
          <th (click)="sort('empemail')">employee email</th>
          <th (click)="sort('emppassword')">employee password</th>
        </tr>
      </thead>
      <tbody>
        @for (item of emplist; track item) {
        <tr>
          <td>{{ item.empname }}</td>
          <td>{{ item.empemail }}</td>
          <td>{{ item.emppassword }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  